# dependencies
node_modules/

# uploads
/uploads

# next.js
.next/
out/

# build
build/
dist/
coverage/

# logs
logs/
*.log

# env
.env
.env.*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# misc
.kiro/